# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# Environments
.env
.venv/
venv/
env/

# Tooling caches
.pytest_cache/
.cache/
.mypy_cache/
.coverage
htmlcov/

# Editors/OS
.vscode/
.idea/
.DS_Store

# Builds / dist
build/
dist/